In [50]:
import os

import pandas as pd

### Load data into a dataframe

In [51]:
df = pd.read_csv("dog_breed_photos.csv")
df

,DogId,Breed,Image,ImageNumber
0,6533,AM STAFF CROSS,65db56cd-18fd-425e-a329-61587d753e81.jpg,1
1,6533,AM STAFF CROSS,745544ba-e959-4307-b556-b68f0b7fb292.jpg,2
2,6533,AM STAFF CROSS,bfa602dc-076b-41fc-9894-65565d571ee6.jpg,3
3,6533,AM STAFF CROSS,918a84e7-24c9-4081-a112-d36ca7105998.jpg,4
4,6533,AM STAFF CROSS,0e84b274-c943-492f-ac67-4ce23df8b33a.jpg,5
...,...,...,...,...
117666,38610,AUSTRALIAN CATTLE DOG,bb552517-1daf-46e6-8f79-b9343b22a80b.jpg,4
117667,38601,CAVALIER KING CHARLES CROSS,990cae7c-0d7b-45d5-ae21-e441a38e4a2b.jpg,1
117668,38601,CAVALIER KING CHARLES CROSS,487c92c4-9e2e-4593-a04f-a952ba585f81.jpg,2
117669,38601,CAVALIER KING CHARLES CROSS,aef72925-463a-45e6-8367-caa24abaa055.jpg,3
117670,38601,CAVALIER KING CHARLES CROSS,bc9d4200-cc79-4602-8346-316064ab0456.jpg,4

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117671 entries, 0 to 117670
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DogId        117671 non-null  int64
 1   Breed        117671 non-null  object
 2   Image        117671 non-null  object
 3   ImageNumber  117671 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.6+ MB

In [53]:
df.Breed.value_counts()

STAFFORDSHIRE BULL TERRIER CROSS    11084
KELPIE CROSS                         8903
GREYHOUND                            7310
BULL ARAB CROSS                      7150
AUSTRALIAN CATTLE DOG CROSS          6352
                                    ...
ENGLISH FOXHOUND CROSS                  1
GORDON SETTER                           1
BASSET HOUND CROSS                      1
WATER SPANIEL CROSS                     1
GOLDENDOODLE CROSS                      1
Name: Breed, Length: 279, dtype: int64

### Cleaning dataset
narrow down to only pure breeds

In [54]:
# https://stackoverflow.com/a/26577689
search_for = ['CROSS', 'MIXED']
pure_breed = df[df["Breed"].str.contains('|'.join(search_for)) == False]
pure_breed_count = pure_breed["Breed"].value_counts()
pure_breed_count[pure_breed_count > 500]

GREYHOUND                              7310
STAFFORDSHIRE BULL TERRIER             1859
KELPIE                                 1410
AUSTRALIAN CATTLE DOG                   989
AMERICAN STAFFORDSHIRE BULL TERRIER     859
BULL ARAB                               857
GERMAN SHEPHERD                         839
SIBERIAN HUSKY                          805
BORDER COLLIE                           802
BOXER                                   796
JACK RUSSELL TERRIER                    691
BULL TERRIER                            558
AMERICAN BULLDOG                        506
Name: Breed, dtype: int64

taking only the breeds from "AMERICAN STAFFORDSHIRE BULL TERRIER" to "BORDER COLLIE"
("AMERICAN STAFFORDSHIRE BULL TERRIER", "BULL ARAB", "GERMAN SHEPHERD", "SIBERIAN HUSKY", "BORDER COLLIE")

In [55]:
search_for = ["AMERICAN STAFFORDSHIRE BULL TERRIER", "BULL ARAB", "GERMAN SHEPHERD", "SIBERIAN HUSKY", "BORDER COLLIE"]
dataset = pure_breed[pure_breed["Breed"].str.contains('|'.join(search_for)) == True]
dataset

,DogId,Breed,Image,ImageNumber
328,6673,SIBERIAN HUSKY,4d924d95-de4c-43c0-a586-9fb19cadf905.jpg,1
329,6673,SIBERIAN HUSKY,851cc9ee-fc4d-430c-99f6-6425b8bbbe6b.jpg,2
330,6673,SIBERIAN HUSKY,7d055dfa-dc6f-4f2b-a7be-dc8bc666836f.jpg,3
331,6673,SIBERIAN HUSKY,f1f55f0a-c3d6-442b-b686-71b83b510dc5.jpg,4
332,6671,SIBERIAN HUSKY,a2e49a61-7c6a-46f0-a80e-9f32e596c1df.jpg,1
...,...,...,...,...
117179,38513,BORDER COLLIE,e3957a7c-9289-4441-bdbd-d2289bef745d.jpg,5
117180,38513,BORDER COLLIE,48afd0ab-baf2-4ee8-9584-9563cec529e7.jpg,6
117181,38513,BORDER COLLIE,8f8c4ea0-7426-4188-bb6c-94fa1ecb1e33.jpg,7
117182,38513,BORDER COLLIE,cce5499f-eb04-4d8c-8d3f-c9c9bee16c5c.jpg,8
117183,38513,BORDER COLLIE,da98f522-c6c3-4aa2-aa65-c82699780851.jpg,9

### Delete all images that are not in the dataset

In [56]:
location = r"dog_breed_photos"
to_be_deleted_images = []
for entry in os.listdir(location):
    if entry not in set(dataset["Image"]):
        to_be_deleted_images.append(entry)
to_be_deleted_images

[]

In [57]:
for file in to_be_deleted_images:
    path = os.path.join(location, file)
    if os.path.exists(path):
        os.remove(path)

### Convert clean dataset back to csv

In [64]:
dataset.to_csv("dataset_CV.csv", index=False)