In [1]:
import os
import pandas as pd

df = pd.read_csv("dog_breed_photos.csv")
df.count

<bound method DataFrame.count of         DogId                        Breed  \
0        6533               AM STAFF CROSS
1        6533               AM STAFF CROSS
2        6533               AM STAFF CROSS
3        6533               AM STAFF CROSS
4        6533               AM STAFF CROSS
...       ...                          ...
117666  38610        AUSTRALIAN CATTLE DOG
117667  38601  CAVALIER KING CHARLES CROSS
117668  38601  CAVALIER KING CHARLES CROSS
117669  38601  CAVALIER KING CHARLES CROSS
117670  38601  CAVALIER KING CHARLES CROSS

                                           Image  ImageNumber
0       65db56cd-18fd-425e-a329-61587d753e81.jpg            1
1       745544ba-e959-4307-b556-b68f0b7fb292.jpg            2
2       bfa602dc-076b-41fc-9894-65565d571ee6.jpg            3
3       918a84e7-24c9-4081-a112-d36ca7105998.jpg            4
4       0e84b274-c943-492f-ac67-4ce23df8b33a.jpg            5
...                                          ...          ...
117666  bb552517-1daf-46e6-8f79-b9343b22a80b.jpg            4
117667  990cae7c-0d7b-45d5-ae21-e441a38e4a2b.jpg            1
117668  487c92c4-9e2e-4593-a04f-a952ba585f81.jpg            2
117669  aef72925-463a-45e6-8367-caa24abaa055.jpg            3
117670  bc9d4200-cc79-4602-8346-316064ab0456.jpg            4

[117671 rows x 4 columns]>

In [2]:
cross_breed = df[df["Breed"].str.contains("CROSS") == True]
mixed_breed = df[df["Breed"].str.contains("MIXED") == True]

#This single line statement will take each file in a specified path and remove it if the filename ends in .png
#os.remove(file) for file in os.listdir('path/to/directory') if file.endswith('.png')

#os.remove(cross_breed["Image"]) for file in os-listdir("dog_breed_photos")
#os.remove(mixed_breed["Image"]) for file in os-listdir("dog_breed_photos")

In [3]:
#breed_count = df["Breed"].value_counts()
pure_breed = df[df["Breed"].str.contains("CROSS") == False]
pure_breed = pure_breed[pure_breed["Breed"].str.contains("MIXED") == False]

In [4]:
#breed_count[breed_count < 500]
pure_breed_count = pure_breed["Breed"].value_counts()

In [5]:
pure_breed_count[pure_breed_count > 500]

GREYHOUND                              7310
STAFFORDSHIRE BULL TERRIER             1859
KELPIE                                 1410
AUSTRALIAN CATTLE DOG                   989
AMERICAN STAFFORDSHIRE BULL TERRIER     859
BULL ARAB                               857
GERMAN SHEPHERD                         839
SIBERIAN HUSKY                          805
BORDER COLLIE                           802
BOXER                                   796
JACK RUSSELL TERRIER                    691
BULL TERRIER                            558
AMERICAN BULLDOG                        506
Name: Breed, dtype: int64

In [6]:
pure_breed_count[pure_breed_count < 10]

CURLY-COATED RETRIEVER         9
BELGIAN SHEPHERD               9
SHETLAND SHEEPDOG              8
NEWFOUNDLAND                   8
WEIMARANER                     8
WEST HIGHLAND WHITE TERRIER    8
STANDARD SCHNAUZER             6
BEARDED COLLIE                 5
PEKINGESE                      5
CAIRN TERRIER                  5
VIZSLA                         5
BASENJI                        5
IRISH SETTER                   5
PORTUGUESE WATER DOG           4
CHOW CHOW                      4
BOSTON TERRIER                 4
BOERBOEL                       4
SHELTIE                        4
ENGLISH POINTER                4
IRISH TERRIER                  4
IBIZAN HOUND                   3
HEINZ 57                       3
SAMOYED                        3
FRENCH MASTIFF                 3
FOXHOUND                       3
COONHOUND                      3
SCOTCH COLLIE                  3
GERMAN WIREHAIRED POINTER      2
ITALIAN GREYHOUND              2
BORZOI                         2
LHASA APSO                     2
GERMAN PINSCHER                2
BELGIAN TERVUREN               2
TIBETAN MASTIFF                2
CHESAPEAKE BAY RETRIEVER       1
GORDON SETTER                  1
KEESHOND                       1
Name: Breed, dtype: int64